### 1. In class we have written Python code similar to this:

print('How many hours?') <br>
hours = float(input())<br>
print('This many hours:', hours)<br>
print('How many dollars per hour?')<br>
rate = float(input())<br>
print('This many dollars per hour:  ', rate)<br>
print('Weekly salary:  ', hours * rate)<br>

<font color = blue>***(c.1)*** Copy this code and paste it into your lab2.py file; then run it to make sure it works as you expect.<br></font>

Then modify the code as shown below to reflect the alternate form of the input() function (with the "input prompt" string as an argument to the function). Run it, of course. Do you see the difference (i) in how it behaves and (ii) in how you write the code? Sometimes we prefer this alternative, sometimes we prefer the other, depending mostly on how we want our program to behave; neither one is the best in every case.

hours = int(input('How many hours?'))<br>
print('This many hours:', hours)<br>
rate = float(input('How many dollars per hour?'))<br>
print('This many dollars per hour:  ', rate)<br>
print('Weekly salary:  ', hours * rate)<br>

Then modify the code to print a dollar sign before each dollar amount. (For now, don't worry about the precise spacing or the precise number of digits after the decimal point; we'll learn how to specify those later.)

In [2]:
print('How many hours?') 
hours = float(input())
print('This many hours:', hours)
print('How many dollars per hour? ')
rate = float(input())
print('This many dollars per hour: $', rate)
print('Weekly salary: $', hours * rate)

How many hours?
10
This many hours: 10.0
How many dollars per hour?
11.5
This many dollars per hour: $ 11.5
Weekly salary: $ 115.0

In [3]:
hours = int(input('How many hours?'))
print('This many hours:', hours)
rate = float(input('How many dollars per hour? $'))
print('This many dollars per hour: $', rate)
print('Weekly salary: $', hours * rate)

How many hours?10
This many hours: 10
How many dollars per hour? $11.5
This many dollars per hour: $ 11.5
Weekly salary: $ 115.0

<font color = blue> (c.2) Write a new sequence of statements that, when executed, might produce results that look like this (where the bold-faced text would by typed by the user): </font>

Hello.  What is your name?  __Alice Anteater__ <br>
Hello, Alice Anteater<br>
It's nice to meet you.  <br>
How old are you?  __19__ <br>
Next year you will be 20 years old.<br>
Good-bye!<br>

The foregoing may be enough to get you going on this problem. But here are a couple of tips and bits of advice that may help give you a boost: <br>

- The code you write should ask the user for a name and age. That is, the code should work, without any change, no matter what name and age the user types. This is called writing code that is general (in the sense of general-purpose); the same code works with any reasonable data. The opposite would be code that includes Alice Anteater's actual name and the age 19 in the Python code itself, so that the code would always print out the same thing (Alice Anteater's information) every time. That's called hard-coded data, and it's much less flexible and useful. We'll see situations where hard-coding certain constants is the right approach, but this isn't one of them.
- One key approach to writing a program is to base it on a similar program that you already have. (Even professional programmers do this; professional development environments contain pre-written frameworks for different kinds of tasks and the internet is full of open-source code repositories that professionals can use to avoid reinventing the wheel.) In this case, you can start with the salary code you copied and pasted earlier. It contains nearly all the elements you need to do the name-and-age task; you just need to reassemble them and change the words to produce the new behavior.

In [4]:
name = str(input("Hello. What is your name?"))
print("Hello,", name)
print("It's nice to meet you.")
age = int(input("How old are you?"))
print("Next year you will be", age+1, "years old.")
print("Good bye")

Hello. What is your name?Tam Huynh
Hello, Tam Huynh
It's nice to meet you.
How old are you?25
Next year you will be 26 years old.
Good bye

### 2. The Copenhagen Chamber of Commerce has hired you to write a program that will convert foreign currencies to the equivalent amount in Danish krone. Your program will prompt the user to input four items, in this order: The name of the business using the program, the number of Euros that business has, the number of British pounds, and the number of U.S. dollars.
<br>
Your program will produce as output the business name, a list of how much of each currency the business has (in both the foreign amount and the Danish krone equivalent) with one foreign currency per line, and the business's total amount of money in krone. <br>

Assume that the following exchange rates are in effect: <br> 

One Euro is 7.46 krone, <br> 
One British pound is 8.60 krone,  <br> 
One U.S. dollar is 6.62 krone. <br>

[Implementation note: This is one of those situations where hard-coding constants is appropriate, since our program is not going to look up the actual exchange rates on the internet. (That may be something you'll do in ICS 32, though.) At the top of your Python code you should have three assignment statements that define these constants; they should look like this: KRONE_PER_EURO = 7.46 . Then you will use those defined constants where appropriate in your program's calculations.] <br>

For example, if the business name is Tycho Brahe Enterprises and it has €100, £200, and $1000, the displayed results would be as shown below (with the user's input shown in boldface): <br>

Please provide this information:<br>
Business name:  Tycho Brahe Enterprises<br>
Number of euros:  100<br>
Number of pounds:  200<br>
Number of dollars:  1000<br>

Copenhagen Chamber of Commerce<br>
Business name:   Tycho Brahe Enterprises<br>
100 euros is 746.0 krone<br>
200 pounds is 1720.0 krone<br>
1000 dollars is 6620.0 krone<br>

Total krone:   9086.0<br>
(Don't worry about the precise spacing or number of digits after the decimal point; we'll learn how to control that later on.)

In [8]:
KRONE_PER_EURO = 7.46
KRONE_PER_DOLLAR = 6.62
KRONE_PER_POUND = 8.60

print("Please provide this information:")
name = str(input("Business Name: "))
euro = int(input("Number of euros: "))
pound = int(input("Number of pounds: "))
dollar = int(input("Number of dollars: "))

print("\nCopenhagen Chamber of Commerce")
print("Business name:", name)
print(euro, "euros is", euro * KRONE_PER_EURO)
print(pound, "pounds is", pound * KRONE_PER_POUND)
print(dollar, "dollars is", dollar * KRONE_PER_DOLLAR)

print("Total krone:", euro * KRONE_PER_EURO + pound * KRONE_PER_POUND + dollar * KRONE_PER_DOLLAR)

Please provide this information:
Business Name: Tycho Brahe Enterprises
Number of euros: 100
Number of pounds: 200
Number of dollars: 1000

Copenhagen Chamber of Commerce
Business name: Tycho Brahe Enterprises
100 euros is 746.0
200 pounds is 1720.0
1000 dollars is 6620.0
Total krone: 9086.0

### 3. Start with this code (which you may copy and paste into your file to work with):

from collections import namedtuple <br>
Book = namedtuple('Book', 'title author year price')<br>
favorite = Book('Adventures of Sherlock Holmes', 'Arthur Conan Doyle', 1892, 21.50)<br>
another = Book('Memoirs of Sherlock Holmes', 'Arthur Conan Doyle', 1894, 23.50)<br>
still_another = Book('Return of Sherlock Holmes', 'Arthur Conan Doyle', 1905, 25.00)<br>
Write expressions using the variables favorite, another, and still_another that evaluate to each of the following; then print (the value of) each expression:<br>

<font color=blue> The title of the book in the variable  still_another .</font>

In [23]:
from collections import namedtuple 
Book = namedtuple('Book', 'title author year price')
favorite = Book('Adventures of Sherlock Holmes', 'Arthur Conan Doyle', 1892, 21.50)
another = Book('Memoirs of Sherlock Holmes', 'Arthur Conan Doyle', 1894, 23.50)
still_another = Book('Return of Sherlock Holmes', 'Arthur Conan Doyle', 1905, 25.00)
all = [favorite, another, still_another]
print(still_another.title)

Return of Sherlock Holmes

<font color=blue>The price of the book Memoirs of Sherlock Holmes </font>

In [24]:
from collections import namedtuple 
Book = namedtuple('Book', 'title author year price')
favorite = Book('Adventures of Sherlock Holmes', 'Arthur Conan Doyle', 1892, 21.50)
another = Book('Memoirs of Sherlock Holmes', 'Arthur Conan Doyle', 1894, 23.50)
still_another = Book('Return of Sherlock Holmes', 'Arthur Conan Doyle', 1905, 25.00)
all = [favorite, another, still_another]
print(another.price)

23.5

<font color = blue>The average price of all three books </font>

In [28]:
from collections import namedtuple 
Book = namedtuple('Book', 'title author year price')
favorite = Book('Adventures of Sherlock Holmes', 'Arthur Conan Doyle', 1892, 21.50)
another = Book('Memoirs of Sherlock Holmes', 'Arthur Conan Doyle', 1894, 23.50)
still_another = Book('Return of Sherlock Holmes', 'Arthur Conan Doyle', 1905, 25.00)
all = [favorite, another, still_another]
sum = 0
for i in all:
    sum = sum + i.price
    
print("The average price of all three books: $", format(sum/3, ".2f"))

The average price of all three books: $ 23.33

<font color = blue> True or false, based on whether the publication year of the book in the variable favorite is before 1900. </font>

In [30]:
from collections import namedtuple 
Book = namedtuple('Book', 'title author year price')
favorite = Book('Adventures of Sherlock Holmes', 'Arthur Conan Doyle', 1892, 21.50)
another = Book('Memoirs of Sherlock Holmes', 'Arthur Conan Doyle', 1894, 23.50)
still_another = Book('Return of Sherlock Holmes', 'Arthur Conan Doyle', 1905, 25.00)
all = [favorite, another, still_another]
print(favorite.year < 1900)

True

<font color = blue> Next, write two assignment statements [until next week's class, the way to do this is to create a new Book object based on the old one (except for the field you're changing)]:  <br>
-  Change the price of the book Return of Sherlock Holmes to $26.00 <br>
- Change the price of the book Return of Sherlock Holmes by increasing it 20% (over whatever its current price is)
</font>

In [37]:
from collections import namedtuple 
Book = namedtuple('Book', 'title author year price')
favorite = Book('Adventures of Sherlock Holmes', 'Arthur Conan Doyle', 1892, 21.50)
another = Book('Memoirs of Sherlock Holmes', 'Arthur Conan Doyle', 1894, 23.50)
still_another = Book('Return of Sherlock Holmes', 'Arthur Conan Doyle', 1905, 25.00)
still_another = Book('Return of Sherlock Holmes', 'Arthur Conan Doyle', 1905, 26.00)
print(still_another)
still_another = Book('Return of Sherlock Holmes', 'Arthur Conan Doyle', 1905, 1.2 *26.00)
print(still_another)

Book(title='Return of Sherlock Holmes', author='Arthur Conan Doyle', year=1905, price=26.0)
Book(title='Return of Sherlock Holmes', author='Arthur Conan Doyle', year=1905, price=31.2)

### 4. Define a namedtuple called Animal for animals in a zoo, with fields for the animal's name, its species, its age, its weight, and its favorite food. <br>

Then define variables to hold (i) an elephant called Jumbo that's 50 years old, weighs 1000 kg, and eats peanuts, and (ii) a platypus named Perry that's 7 years old, weighs 1.7 kg, and eats shrimp.<br>

Finally, write a boolean expression whose value is true if the weight of the animal represented by the first variable is less than the weight of the animal represented by the second variable.<br>

You might be asking yourself why it's useful to write an expression like that when we know from looking at the data that Jumbo weighs more than Perry. The answer is that variables can vary; that is, we might have a program where different animals, or different weights for the same animals, get stored in the variables you defined. Because the expression you wrote uses whatever value the variable currently has, we can re-use that same expression for whatever animals we want, so long as we store those animals' information in the variables you defined and used in your expression. It's good to write general, versatile code like this.

In [40]:
from collections import namedtuple 
Animal = namedtuple('Animal', 'name species age weight food')
Jumbo = Animal('Jumbo','Elephant', 50, 1000, 'peanuts')
Perry = Animal('Perry', 'Platypus', 7, 1.7, 'shrimp')
print(Jumbo.weight < Perry.weight)

False

### 5. Add this statement to your book code:

booklist = [favorite, another, still_another]

<font color = blue>
    Write a boolean expression whose value is true if the first book on the list [remember what the index number of the first book is] is cheaper than the second book on the list (and false otherwise). (In your lab2.py file, just print this expression.) </font>

In [6]:
from collections import namedtuple 
Book = namedtuple('Book', 'title author year price')
favorite = Book('Adventures of Sherlock Holmes', 'Arthur Conan Doyle', 1892, 21.50)
another = Book('Memoirs of Sherlock Holmes', 'Arthur Conan Doyle', 1894, 23.50)
still_another = Book('Return of Sherlock Holmes', 'Arthur Conan Doyle', 1905, 25.00)
booklist = [favorite, another, still_another]
booklist[0].price < booklist[1].price

True

<font color=blue> Write (and print) another boolean expression whose value is true if the first book on the list is more recently published than the last book on the list. Don't write this using booklist[2] for the last book; instead, use an expression whose value would be the last book on the list, no matter how long the list is.

In [8]:
from collections import namedtuple 
Book = namedtuple('Book', 'title author year price')
favorite = Book('Adventures of Sherlock Holmes', 'Arthur Conan Doyle', 1892, 21.50)
another = Book('Memoirs of Sherlock Holmes', 'Arthur Conan Doyle', 1894, 23.50)
still_another = Book('Return of Sherlock Holmes', 'Arthur Conan Doyle', 1905, 25.00)
booklist = [favorite, another, still_another]
booklist[0].year > booklist[-1].year

False

### 6. In class we discussed how a programming language gives us predefined or built-in "building blocks" (like ints and strings, and like + and len()) and then gives us ways to combine them into more complicated and powerful features that we can use as we develop our software. Namedtuples are an example of this; after we create a Book, our version of Python has a new type of data we can use in our programs. <br>

One theme of this course is how we can build and work with data structures in this way. <br>

Here we create a list of seven restaurants, calling it RC (for "restaurant collection"). Copy this code into your lab2.py file. <br>

```python
from collections import namedtuple     # If this line is in your file already, you don't need it again <br>
Restaurant = namedtuple('Restaurant', 'name cuisine phone dish price') 
# Restaurant attributes: name, kind of food served, phone number, best dish, price of that dish
RC = [
    Restaurant("Thai Dishes", "Thai", "334-4433", "Mee Krob", 12.50),
    Restaurant("Nobu", "Japanese", "335-4433", "Natto Temaki", 5.50),
    Restaurant("Nonna", "Italian", "355-4433", "Stracotto", 25.50),
    Restaurant("Jitlada", "Thai", "324-4433", "Paht Woon Sen", 15.50),
    Restaurant("Nola", "New Orleans", "336-4433", "Jambalaya", 5.50),
    Restaurant("Noma", "Modern Danish", "337-4433", "Birch Sap", 35.50),
    Restaurant("Addis Ababa", "Ethiopian", "337-4453", "Yesiga Tibs", 10.50) ]
```

For each of the values described below, write a Python expression using RC that produces that value (and enclose it in a print statement in your lab2.py file). [Treat each problem separately, assuming only that you have the definitions above and not the results of the previous problems here in part (h).]

<font color = blue> The name of the third restaurant on the list (remember that the third restaurant is not number 3)

In [10]:
from collections import namedtuple     # If this line is in your file already, you don't need it again <br>
Restaurant = namedtuple('Restaurant', 'name cuisine phone dish price') 
# Restaurant attributes: name, kind of food served, phone number, best dish, price of that dish
RC = [
    Restaurant("Thai Dishes", "Thai", "334-4433", "Mee Krob", 12.50),
    Restaurant("Nobu", "Japanese", "335-4433", "Natto Temaki", 5.50),
    Restaurant("Nonna", "Italian", "355-4433", "Stracotto", 25.50),
    Restaurant("Jitlada", "Thai", "324-4433", "Paht Woon Sen", 15.50),
    Restaurant("Nola", "New Orleans", "336-4433", "Jambalaya", 5.50),
    Restaurant("Noma", "Modern Danish", "337-4433", "Birch Sap", 35.50),
    Restaurant("Addis Ababa", "Ethiopian", "337-4453", "Yesiga Tibs", 10.50) ]
print("Name of the third restaurant on the list:", RC[2].name)

Name of the third restaurant on the list: Nonna

<font color = Blue> True or False, whether the first and the fourth restaurants serve the same kind of food

In [11]:
from collections import namedtuple     # If this line is in your file already, you don't need it again <br>
Restaurant = namedtuple('Restaurant', 'name cuisine phone dish price') 
# Restaurant attributes: name, kind of food served, phone number, best dish, price of that dish
RC = [
    Restaurant("Thai Dishes", "Thai", "334-4433", "Mee Krob", 12.50),
    Restaurant("Nobu", "Japanese", "335-4433", "Natto Temaki", 5.50),
    Restaurant("Nonna", "Italian", "355-4433", "Stracotto", 25.50),
    Restaurant("Jitlada", "Thai", "324-4433", "Paht Woon Sen", 15.50),
    Restaurant("Nola", "New Orleans", "336-4433", "Jambalaya", 5.50),
    Restaurant("Noma", "Modern Danish", "337-4433", "Birch Sap", 35.50),
    Restaurant("Addis Ababa", "Ethiopian", "337-4453", "Yesiga Tibs", 10.50) ]
print("True or False, whether the first and the fourth restaurants serve the same kind of food:", RC[0].cuisine == RC[3].cuisine)

True or False, whether the first and the fourth restaurants serve the same kind of food: True

<font color = blue> The price of (the best dish at) the last restaurant on the list (write this one so that it works for lists of any length, not just 7)

In [13]:
from collections import namedtuple     # If this line is in your file already, you don't need it again <br>
Restaurant = namedtuple('Restaurant', 'name cuisine phone dish price') 
# Restaurant attributes: name, kind of food served, phone number, best dish, price of that dish
RC = [
    Restaurant("Thai Dishes", "Thai", "334-4433", "Mee Krob", 12.50),
    Restaurant("Nobu", "Japanese", "335-4433", "Natto Temaki", 5.50),
    Restaurant("Nonna", "Italian", "355-4433", "Stracotto", 25.50),
    Restaurant("Jitlada", "Thai", "324-4433", "Paht Woon Sen", 15.50),
    Restaurant("Nola", "New Orleans", "336-4433", "Jambalaya", 5.50),
    Restaurant("Noma", "Modern Danish", "337-4433", "Birch Sap", 35.50),
    Restaurant("Addis Ababa", "Ethiopian", "337-4453", "Yesiga Tibs", 10.50) ]
print("The price of the last restaurant on the list: $", RC[-1].price)

The price of the last restaurant on the list: $ 10.5

<font color=blue> The list of restaurants, arranged alphabetically by restaurant name (you'll need one statement before the print statement; this involves the sort() method for lists).

In [56]:
from collections import namedtuple     # If this line is in your file already, you don't need it again <br>
Restaurant = namedtuple('Restaurant', 'name cuisine phone dish price') 
# Restaurant attributes: name, kind of food served, phone number, best dish, price of that dish
RC = [
    Restaurant("Thai Dishes", "Thai", "334-4433", "Mee Krob", 12.50),
    Restaurant("Nobu", "Japanese", "335-4433", "Natto Temaki", 5.50),
    Restaurant("Nonna", "Italian", "355-4433", "Stracotto", 25.50),
    Restaurant("Jitlada", "Thai", "324-4433", "Paht Woon Sen", 15.50),
    Restaurant("Nola", "New Orleans", "336-4433", "Jambalaya", 5.50),
    Restaurant("Noma", "Modern Danish", "337-4433", "Birch Sap", 35.50),
    Restaurant("Addis Ababa", "Ethiopian", "337-4453", "Yesiga Tibs", 10.50) ]
RC.sort()
print("The list of restaurants, arranged alphabetically by restaurant name:", end = " ")
for i in range(0, len(RC)-1):
    print(RC[i].name, end = ", ")
print(RC[-1].name)

The list of restaurants, arranged alphabetically by restaurant name: Addis Ababa, Jitlada, Nobu, Nola, Noma, Nonna, Thai Dishes

<font color=blue> The best dish at the restaurant whose name is alphabetically last; in other words, the dish field of the last restaurant in the list of restaurants sorted alphabetically by name (you'll need an extra statement here, too; your solution should work for lists of any length).

In [57]:
from collections import namedtuple     # If this line is in your file already, you don't need it again <br>
Restaurant = namedtuple('Restaurant', 'name cuisine phone dish price') 
# Restaurant attributes: name, kind of food served, phone number, best dish, price of that dish
RC = [
    Restaurant("Thai Dishes", "Thai", "334-4433", "Mee Krob", 12.50),
    Restaurant("Nobu", "Japanese", "335-4433", "Natto Temaki", 5.50),
    Restaurant("Nonna", "Italian", "355-4433", "Stracotto", 25.50),
    Restaurant("Jitlada", "Thai", "324-4433", "Paht Woon Sen", 15.50),
    Restaurant("Nola", "New Orleans", "336-4433", "Jambalaya", 5.50),
    Restaurant("Noma", "Modern Danish", "337-4433", "Birch Sap", 35.50),
    Restaurant("Addis Ababa", "Ethiopian", "337-4453", "Yesiga Tibs", 10.50) ]
RC.sort()
print("The best dish at the restaurant whose name is alphabetically last: ", RC[-1].cuisine)

The best dish at the restaurant whose name is alphabetically last:  Thai

<font color = blue> A new list containing 4 restaurants: the first two alphabetically and the last two alphabetically (this one should work for lists of any length; you may need a couple of extra statements and the sort() or the extend() method [see help(list)])

In [65]:
from collections import namedtuple     # If this line is in your file already, you don't need it again <br>
Restaurant = namedtuple('Restaurant', 'name cuisine phone dish price') 
# Restaurant attributes: name, kind of food served, phone number, best dish, price of that dish
RC = [
    Restaurant("Thai Dishes", "Thai", "334-4433", "Mee Krob", 12.50),
    Restaurant("Nobu", "Japanese", "335-4433", "Natto Temaki", 5.50),
    Restaurant("Nonna", "Italian", "355-4433", "Stracotto", 25.50),
    Restaurant("Jitlada", "Thai", "324-4433", "Paht Woon Sen", 15.50),
    Restaurant("Nola", "New Orleans", "336-4433", "Jambalaya", 5.50),
    Restaurant("Noma", "Modern Danish", "337-4433", "Birch Sap", 35.50),
    Restaurant("Addis Ababa", "Ethiopian", "337-4453", "Yesiga Tibs", 10.50) ]
RC.sort()
newRC = []
newRC.append(RC[0])
newRC.append(RC[1])
newRC.append(RC[-2])
newRC.append(RC[-1])
print(newRC)

[Restaurant(name='Addis Ababa', cuisine='Ethiopian', phone='337-4453', dish='Yesiga Tibs', price=10.5), Restaurant(name='Jitlada', cuisine='Thai', phone='324-4433', dish='Paht Woon Sen', price=15.5), Restaurant(name='Nonna', cuisine='Italian', phone='355-4433', dish='Stracotto', price=25.5), Restaurant(name='Thai Dishes', cuisine='Thai', phone='334-4433', dish='Mee Krob', price=12.5)]